.recipe__card-container {
    width: 300px;
    
}

.recipe__card-image {
    position: relative;
    width: 100%;
    height: auto;
}

.recipe__card-image img {
    width: 100%;
    display: block;
}

.recipe__card-overlay-details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
       color: var(--color-accent);
       font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 8px;
}

.recipe__card-overlay-details p {
    flex: 50%;
    
    margin: 4px 0;
    text-align: center;
}

.recipe__card-overlay-details .recipe__card-image-icon {
    width: 15px;
       height: 15px;
}

.recipe__card-overlay-details div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px;
}

.recipe__card-image-icon {
    margin-right: 8px;
   
}

.recipe__card-details {
    padding: 30px 10px;
}

.recipe__card-details h3 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 32px;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 10px;
}

.recipe__card-details a {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: var(--color-secondary);
    text-align: left;
    text-decoration: underline;
   
}