.recipe__discover-title {
    display: flex;
    margin-top: 100px;
}

.recipe__discover-title-content {
    flex: 1;
}

.recipe__discover-title-content h2 {
    font-family: var(--font-family);
        font-weight: 800;
        font-size: 46px;
        line-height: 80px;
        letter-spacing: 0em;
        padding-top: 50px;
}

.recipe__discover-title-content p {
    font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #7F7d7D;
        margin-top: 0px
}
.recipe__discover-title-button {
    display: flex;
        justify-content: flex-end;
        align-items: center;
        
    }

button {
    border-radius: 20px;
        color: white;
        font-weight: 650;
        background-color: var(--color-secondary);
        border: none;
        padding: 20px 40px;
        letter-spacing: .8px;
        font-size: 20px;
        margin-right: 10px;
        
}

.recipe__discover-title-button a {
    color: white;
}

.recipe__discover-cards {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
}

.recipe__discover-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    gap: 20px;
    
}

.recipe__card-container {
    width: 380px;
    margin-bottom: 20px;
      
}

@media screen and (max-width: 1050px) {
    .recipe__discover-cards-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            max-width: 1050px;
            gap: 5px;
    
        }
}

@media screen and (max-width: 650px) {
    .recipe__discover-title-content h2 {
        font-size: 36px;
        line-height: 50px;
    }

        button {
            border-radius: 20px;
            color: white;
            font-weight: 650;
            background-color: var(--color-secondary);
            border: none;
            padding: 20px 40px;
            letter-spacing: .8px;
            font-size: 15px;
            margin-right: 10px;
    
        }
}