.recipe__hero {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    
}

.recipe__hero-content {
    flex: 2;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    
        margin-right: 5rem;
}

.recipe__hero-content h1 {
    font-family: var(--font-family);
        font-weight: 800;
        font-size: 64px;
        line-height: 80px;
        letter-spacing: 0em;
}

.recipe__hero-content p {
    font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #7F7d7D;
        margin-top: 37px
}

.button {
    border-radius: 10px;
    color: white;
    font-weight: 700;
    background-color: var(--color-secondary);
    border: none;
    padding: 15px 20px;
    margin-top: 61px;
}

.recipe__hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 590px;
    width: 658px;
}

@media screen and (max-width: 1050px) {
    .recipe__hero {
        flex-direction: column;
    }

    .recipe__hero-content {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px) {
    .recipe__hero-content h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .recipe__hero-content p {
        font-size: 16px;
        line-height: 24px;
    }

    .recipe__hero-content__people {
        flex-direction: column;
    }

    .recipe__hero-content__people p {
        margin: 0;
    }

.recipe__hero-image {
   display: none;
    
}
}

@media screen and (max-width: 490px) {
    .recipe__hero-content h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .recipe__hero-content p {
        font-size: 14px;
        line-height: 24px;
    }

   }