.recipe__hero {
    display: flex;
    flex-direction: row;
}

.recipe__hero-content {
    flex: 1;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    
        margin-right: 5rem;
}

.recipe__hero-content h1 {
    font-family: var(--font-family);
        font-weight: 800;
        font-size: 64px;
        line-height: 80px;
        letter-spacing: 0em;
}

.recipe__hero-content p {
    font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #7F7d7D;
        margin-top: 37px
}

.button {
    border-radius: 10px;
    color: white;
    font-weight: 700;
    background-color: var(--color-secondary);
    border: none;
    padding: 15px 20px;
    margin-top: 61px;
}