.recipe__hero {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    position: relative;
    gap: 10px;
    
}

.recipe__hero-content {
    flex: 1;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        }

.recipe__hero-content h1 {
    font-family: var(--font-family);
        font-weight: 800;
        font-size: 64px;
        line-height: 80px;
        letter-spacing: 0em;
        padding-top: 50px;
}



.h1-block {
    display: block;
    margin-bottom: 10px;
    }

.recipe__hero-content p {
    font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #7F7d7D;
        margin-top: 37px
}

.button {
    border-radius: 10px;
    color: white;
    font-weight: 650;
    background-color: var(--color-secondary);
    border: none;
    padding: 18px 30px;
    margin-top: 61px;
    letter-spacing: .8px;
}

.recipe__hero-content__input a{
    color:white;
}

.recipe__hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 590px;
    width: 658px;
    padding: 20px 0px;
    

}

.Tomato {
    position: absolute;
    top: 30px;
    left: 800px;
    height: 50px;
    width: 50px;
    
}

.Garlic {
    position: absolute;
    top: 500px;
    left: 550px;
    height: 100px;
    width: 100px;
}

@media screen and (max-width: 1050px) {
    .recipe__hero {
        flex-direction: column;
    }

    .recipe__hero-content {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px) {
    .recipe__hero-content h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .recipe__hero-content p {
        font-size: 16px;
        line-height: 24px;
    }

    .recipe__hero-content__people {
        flex-direction: column;
    }

    .recipe__hero-content__people p {
        margin: 0;
    }

.recipe__hero-image {
   display: none;
    
}
.Tomato {
    display: none;
}

.Garlic {
    display: none;
}
}

@media screen and (max-width: 490px) {
    .recipe__hero-content h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .recipe__hero-content p {
        font-size: 14px;
        line-height: 24px;
    }

   }